.img{
    width: 100px;
}
.card{
 
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
}
main{
    display: flex;
    gap:50px;
}
.fav{
    background-color: cadetblue;
}
.delete{
    cursor: pointer;
}